<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>osu #1 searcher</title>
</head>
<body>
    <div class="container" id="inputs-container">
        <div class="box-container" id="box1">
            <div class="black-box">
                <div class="pp-group">
                    <p class="pp-text">AR</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="ar-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="ar-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">OD</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="od-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="od-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">CS</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="cs-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="cs-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">SR</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="sr-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="sr-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>  
                <div class="pp-group">
                    <p class="pp-text">Playcount</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="pc-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="pc-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div> 
                <div>
                    <p class="pp-text">Names to avoid</p>
                    <button onclick="addName()" class="name-buttons">Add</button>   
                    <button onclick="removeName()" class="name-buttons">Remove</button>
                    <div>
                        <input type="text" id="name-adder" placeholder="Enter name">
                    </div>
                </div>
                <div>
                    <div id="names"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="inputs-container2">
        <div class="box-container" id="box2">
            <div class="black-box">
                <div class="pp-group">
                    <p class="pp-text">Length</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="length-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="length-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">Combo</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="combo-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="combo-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">BPM</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="bpm-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="bpm-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">PP</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="pp-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="pp-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                <div class="pp-group">
                    <p class="pp-text">Acc</p>
                    <div class="pp-boxes">
                        <input type="text" class="pp-input" id="acc-min" name="myTextBox" placeholder="Min" oninput="search()">
                        <input type="text" class="pp-input" id="acc-max" name="myTextBox2" placeholder="Max" oninput="search()">
                    </div>
                </div>
                    <div class="mods">
                        <button class="mod-buttons" id="toggleHD" onclick="toggleHD()">HD</button>
                        <button class="mod-buttons" id="toggleHR" onclick="toggleHR()">HR</button>
                        <button class="mod-buttons" id="toggleDT" onclick="toggleDT()">DT</button>
                        <button class="mod-buttons" id="toggleFL" onclick="toggleFL()">FL</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="container" id="result-container">
    <div class="display-items">
        <div id="count"></div>
        <div id="result"></div>
    </div>
    </div>

    <script>
        let HDButtonState = 0;
        let HRButtonState = 0;
        let DTButtonState = 0;
        let FLButtonState = 0;
        let resultDiv = document.getElementById('result');
        let resultCount = document.getElementById('count');
        let data;
        const idList = ["pp-min", "pp-max", "ar-min", "ar-max", "od-min", "od-max", "cs-min", "cs-max",
        "sr-min", "sr-max", "length-min", "length-max", "combo-min", "combo-max", "bpm-min", "bpm-max", 
        "acc-min", "acc-max", "pc-min", "pc-max"];
        let inputList = [];
        let name;
        let namesList = [];

        function toggleHD() {
            HDButtonState = HDButtonState + 1;
            HDButtonState = HDButtonState % 3;
            updateButtonState('toggleHD', HDButtonState);
        }

        function toggleHR() {
            HRButtonState = HRButtonState + 1;
            HRButtonState = HRButtonState % 3;
            updateButtonState('toggleHR', HRButtonState);
        }

        function toggleDT() {
            DTButtonState = DTButtonState + 1;
            DTButtonState = DTButtonState % 3;
            updateButtonState('toggleDT', DTButtonState); 
        }

        function toggleFL() {
            FLButtonState = FLButtonState + 1;
            FLButtonState = FLButtonState % 3;
            updateButtonState('toggleFL', FLButtonState);
        }

        function updateButtonState(buttonId, Toggle) {
            search();
            const button = document.getElementById(buttonId);

            if (Toggle === 1) {
                button.classList.add('diagonal-orange-bg');
                
            } else if (Toggle === 2) {
                button.classList.remove('diagonal-orange-bg');    
                button.classList.add('orange-bg');
            } else {
                button.classList.remove('orange-bg');        
            }
        }
        
        function getFromInputs() {
            inputList = [];

            for (let i = 0; i < idList.length; i++){
                inputList.push(document.getElementById(idList[i]).value);
            }
            return inputList.concat([HDButtonState, HRButtonState, DTButtonState, FLButtonState, namesList]);
        }

        function search() {
            resultDiv.innerHTML = "";
            resultCount.innerHTML = "";

            resultCount.innerHTML = "Loading...";

            const xhr = new XMLHttpRequest();
            const inputListJSON = JSON.stringify(getFromInputs());
            console.log(inputListJSON);

            xhr.open('GET', `/get_data?inputList=${inputListJSON}`, true);
            
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    resultDiv = document.getElementById('result');
                    
                    resultDiv.innerHTML = "";
                    resultCount.innerHTML = "";
                    data = JSON.parse(xhr.responseText);
                    if (data.length === 0) {
                        resultDiv.innerHTML = "Your search didn't return anything"
                        return;
                    }
                    resultCount.innerText = "Results: " + data[0].count;
                    const firstItems = data.slice(0, 5);
                    data.splice(0, 5);
                    firstItems.forEach(item => {
                        addHTML(item);
                    });
                }
            };
            xhr.send();
        }
        let items;
        function loadData(){
            resultDiv = document.getElementById('result');
            items = data.slice(0, 5);
            data.splice(0, 5);
            items.forEach(item => {
                        addHTML(item);
                    });
        }

        function addHTML (item) {
            resultDiv.innerHTML += `
                        <div class="map_display">
                            <img src="https://assets.ppy.sh/beatmaps/${item.mapsetID}/covers/list.jpg" alt="No Background">
                            <a href="${item.URL}" class="link_text" target="_blank">${item.artist} - ${item.title} [${item.diff}]</a>
                            <div class="info_box">
                                <p class="other">Playcount: ${item.Playcount}</p>
                                <p class="other">Curr #1: ${item.Player}</p>
                                <p class="other">Accuracy: ${item.accuracy}%</p>
                                <p class="other">Year Ranked: ${item.year}</p>
                            </div>
                        </div>`

        }
        
        window.addEventListener('scroll',()=>{
        if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight * 0.9){
            loadData();
        }
    })
    function addName (){
        name = document.getElementById('name-adder').value;
        if (name === ""){
            return;
        }
        if (name.length > 15){
            alert("name too long");
            return;
        }
        if (namesList.includes(name)){
            alert("name already included");
            return;
        }
        if (namesList.length > 4){
            alert("too many names");
            return;
        }
        t = `
            <div class="name-text" id="${name}">
                <tr>
                    ${name}
                </tr>
            </div>
            `
            document.getElementById('names').innerHTML += t;
            namesList.push(name);
            document.getElementById('name-adder').value = '';
            search();
        }

    function removeName (){
        if (namesList.length <= 0){
            return;
        }
        console.log(namesList[namesList.length - 1]);   
        document.getElementById(namesList[namesList.length - 1]).remove();
        namesList = namesList.slice(0, namesList.length - 1);
        search();
    }
    
    </script>
</body>
</html>